{% extends "base_larecherche.html" %}
{% load  static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% get_static_prefix as STATIC_PREFIX %}
{% block content %}

  <div class="row">
  <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h1>Lancement de Sciences<sup>2024</sup></h1>
    <hr>
    <!-- IMAGE et VIDEO --->
      <p style="text-align: left">
    <h2>Articles de presse</h2>
        <ul style="text-align: left;padding-left: 20px">
          <li><a href="https://lejournal.cnrs.fr/articles/pour-les-jo-de-2024-sportifs-et-scientifiques-font-equipe" target="_blank">
            Le journal du CNRS</a></li>
          <li><a href="https://www.lexpress.fr/actualites/1/sport/sciences-2024-les-grandes-ecoles-dans-la-quete-des-medailles-olympiques_2033705.html" target="_blank">
            L'Express</a></li>
          <li><a href="https://www.sciencesetavenir.fr/sciences/sciences-2024-les-grandes-ecoles-dans-la-quete-des-medailles-olympiques_127185" target="_blank">Sciences et Avenir</a></li>
          <li><a href="https://www.polytechnique.edu/fr/content/sportifs-et-scientifiques-jouent-collectif-pour-les-jo-de-2024" target="_blank">Polytechnique</a></li>
          <li><a href="http://www.handisport.org/sciences-2024-lancement-du-projet-de-recherche-en-partenariat-avec-la-ffh/" target="_blank">Handisport</a></li>
          <li><a href="https://www.media-paris-saclay.fr/jop-2024-les-sciences-dures-sur-les-starting-blocks-entretien-avec-christophe-clanet/" target="_blank">Media Paris Saclay</a></li>
        </ul>

      </p>

      <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/295181302?title=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>

      <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/295182191?title=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>

      <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/295182058?title=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>





  </div>
  </div>

  <div class="row">
  <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h1>Nuit Blanche 2018</h1>
    <hr>

    </p>
    <!-- IMAGE et VIDEO --->
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="{% static 'LadHyX/img/actualites/nuitblanche2018.jpg' %}"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid" style="margin-top: 0;"
               src="{% static 'LadHyX/img/actualites/nuitblanche2018.jpg' %}" >
        </a>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <p style="text-align: left">
          À l’occasion de la manifestation Nuit blanche 2018 ce week-end (de samedi 19h à dimanche 4h),
          venez découvrir deux œuvres nées d’une collaboration artistique et scientifique dans le
          cadre de la Chaire arts & sciences de l'École polytechnique, de l'École nationale supérieure
          des Arts Décoratifs-PSL et de la Fondation Daniel et Nina Carasso.
        </p>
        <p style="text-align: left">
          Élaborées en commun par les artistes - chercheurs Ana Rewakowicz, Camille Duprat et Jean-Marc Chomaz,
          la vidéo Through The Looking Mist... et l’installation Néphélographe (Impressions de brouillard)
          appartiennent à un projet de recherche plus large développé à l’École polytechnique intitulé
          “Collecteur de brouillard / Mist Collector” qui porte sur la question de la diminution des sources
          d’eau douce dans le monde et se penche sur les méthodes alternatives pour capturer l’eau du brouillard.
        </p>

      </div>
    </div>
  </div>

  </div>

  <div class="row">
  <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h1>Des scientifiques décryptent le mécanisme de progression de la méningite</h1>
    <hr>

    </p>
    <!-- IMAGE et VIDEO --->
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="{% static 'LadHyX/img/actualites/neisseria_cover_julienhusson.jpg' %}"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid" style="margin-top: 0;"
               src="{% static 'LadHyX/img/actualites/neisseria_cover_julienhusson.jpg' %}" >
        </a>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <p style="text-align: left">
          Julien Husson, chercheur au Laboratoire d’hydrodynamique de l’X et Raphaël Voituriez,
          chercheur CNRS à Sorbonne Université et enseignant à l’X, font partie du consortium qui a
          découvert que les bactéries responsables de la méningite «coulent» dans les vaisseaux
          sanguins. Cette étape clef de l’infection est décrite dans la revue Cell le 17 mai 2018.
          <a href="http://www.polytechnique.edu/fr/content/des-scientifiques-decryptent-le-mecanisme-de-progression-de-la-meningite"
             target="_blank">Lien</a>

        </p>
      </div>
    </div>
  </div>

  </div>
<br>
<div class="row">
<div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <h1>Jeudi de la recherche </h1>
  <hr>
  <p style="text-align: left">
    Dans le cadre de la 4e saison des Jeudis de la Recherche sur la thématique « A la croisée des sciences »,
    trois chercheurs du LadHyX présenteront leurs travaux à la croisée de la mécanique et de la
    biologie le jeudi 3 mai 2018.
    <br>
    <ul style="text-align: left;padding-left: 20px">
    <li>Comment la danse des plantes inspire la science ?
        Emmanuel de Langre, professeur et chercheur.</li>

    <li>La physique et la mécanique au service des sportifs,
        Caroline Cohen, chercheuse en post-doctorat.</li>

    <li>Soigner le cancer / Le baiser du globule blanc,
        Julien Husson, professeur assistant à l'X et chercheur.</li>
    </ul>
    Jeudi 3 mai 2018 de 9h00-10h30
    Maison des X
    12 rue de Poitiers 75007 Paris

  </p>


  <!-- IMAGE et VIDEO --->
  <div class="row">
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/275648573?title=0&portrait=0"
              frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/275650311?title=0&portrait=0"
              frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <iframe class="vignette img-responsive" src="https://player.vimeo.com/video/275650030?title=0&portrait=0"
              frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

  </div>


</div>
</div>
{% endblock content %}

