{% extends "base_larecherche.html" %}
{% load  static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}

  <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

  <h1>{{ name }}</h1>
    <hr>
    <!- IMAGE et VIDEO --->
    {% for group in grouppar3 %}
    <div class="row">
    {% for object in group %}

      <section class="col-sm-4 col-md-4 col-lg-4">
        <h4></h4>
        <iframe class="vignette img-responsive" src="https://player.vimeo.com{{ object.0 }}?title=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>

        </iframe>
        <figcaption>{{ object.1 }}</figcaption>
      </section>
      {% endfor %}
    </div>
    {% endfor %}
    <!-- FIN ILAGE ET VIDEO -->

  <hr>
  </div>


{% endblock content %}