{% extends "base_larecherche.html" %}
{% load  static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}

  <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

    <h1>Biomécanique cardiovasculaire</h1>
    <hr>
    <h2>What is the impact of cell shape on vascular cell mechanotransduction?</h2>
    <a href="#" class="vert bolder">J. Lafaurie-Janvore</a> -
    <a href="#" class="vert bolder">A. I. Barakat</a>

    <h3>Why ?</h3>
    <p style="display:block;text-align:justify; margin-right:auto;margin-left:auto;">
      - Blood vessels are lined by specialized cells that are constantly exposed to
      blood-flow-derived forces. <br>
      - These endothelial cells can sense and respond to forces: this is called mechanotransduction.<br>
      - During atherosclerosis development, elongated cell shape correlates with regions that are
      protected from disease.
    </p>

    <div class="row">
      <section class="col-sm-4 col-md-4 col-lg-4">

      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
       <a href="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire14.jpg"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid"
               src="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire14.jpg" >
        </a>
        <figcaption></figcaption>
      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
      </section>
    </div>
    <br>
    <h3>Methods</h3>
    <p style="display:block;text-align:justify; margin-right:auto;margin-left:auto;">
     We study experimentally the cell response to flow-derived forces as a function of cell shape.
    </p>

    <div class="row">
      <section class="col-sm-4 col-md-4 col-lg-4">

      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
       <a href="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire15.jpg"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid"
               src="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire15.jpg" >
        </a>
        <figcaption>Control cell shape using patterned surface</figcaption>
      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
      </section>
    </div>
    <br>
    <div class="row">
      <section class="col-sm-4 col-md-4 col-lg-4">

      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
       <a href="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire16.jpg"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid"
               src="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire16.jpg" >
        </a>
        <figcaption>Apply controlled forces</figcaption>
      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
      </section>
    </div>
    <br>

    <div class="row">
      <section class="col-sm-4 col-md-4 col-lg-4">

      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
       <a href="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire18.jpg"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid"
               src="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire18.jpg" >
        </a>
        <figcaption>Follow cell response dynamically</figcaption>
      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
      </section>
    </div>
    <br>

    <h3>Results</h3>
    <p style="display:block;text-align:justify; margin-right:auto;margin-left:auto;">
    Shape control of cultured endothelial cells.
    </p>
    <div class="row">
      <section class="col-sm-4 col-md-4 col-lg-4">

      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
       <a href="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire17.jpg"
           data-toggle="lightbox">
          <img class="vignette img-responsive img-fluid"
               src="{{ MEDIA_URL }}larecherche/biomecanique-cardiovasculaire17.jpg" >
        </a>
      </section>

      <section class="col-sm-4 col-md-4 col-lg-4">
      </section>
    </div>
    <br>
  <hr>
  </div>


{% endblock content %}