{% load  static %}

<div class="row">
        <div class="col-lg-4 col-md-12">
          <a href="https://yakari.polytechnique.fr/cmif2018/">
            <img class="vignette img-responsive" src="{% static 'LadHyX/img/evenements/afficheCMIF2018.png' %}"
                 style="margin: 0 auto;" >
          </a>
        </div>
        <div class="col-lg-8 col-md-12" style="text-align: center">
          <a  href="https://yakari.polytechnique.fr/cmif2018/" style="color: #6dccbb;text-decoration: none">
            COMPLEX MOTION IN FLUIDS
          </a><br>
          Sports physics and collective phenomena
          <br>July 8-14 2018
          <br>Normandie, France
        </div>
      </div>