{% load  static %}

<div class="row">
  <div class="col-lg-4">
    <a href="https://yakari.polytechnique.fr/isfa2020/">
    <img class="vignette img-responsive" src="{% static 'LadHyX/img/evenements/flutter.png' %}" style="margin: 0 auto;">
    </a>
  </div>
  <div class="col-lg-8" style="text-align: center">
    <a href="https://yakari.polytechnique.fr/isfa2020/" style="color: #6dccbb;text-decoration: none">ISFA 2020</a>
    <br>
    Second International Symposium on Flutter and its Application
    <br>May 2020, Paris, France
  </div>
</div>